@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-alabaster text-content-high;
}

.select {
  appearance: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  border-radius: 50%;
  color: #697283;
}
